!= partial("../_includes/head")

body.collection
	!= partial("../_includes/nav")

	main#main
		#content.container
			article(data-base="#11051b", data-highlight="#ffffff").page
				!= yield

!= partial("../_includes/footer")
