<h1 class="page-title">5ft25</h1>
<p>5ft25 is a custom photography-centric WordPress theme designed for Lily Bennet, a montreal-based fine arts photographer.</p>

<figure>
  <img src="/assets/img/work/5ft25/icon.png" alt="">
</figure>

<figure>
  <img src="/assets/img/work/5ft25/style.png" alt="style">
  <img src="/assets/img/work/5ft25/animations.png" alt="">
</figure>

<figure>
  <img src="/assets/img/work/5ft25/grid.jpg" alt="">
</figure>

<p>The site is live <a href="https://5ft25.com">here.</a></p>