<h1 class="page-title">Arthem</h1>

<p>Arthem started as an idea to solve a personal problem of mine long ago. I'd applied to a job in web design during college and aced the interview, but the person doing the hiring was away, so all that was left to assess me in the end were my credentials on paper.</p>

<p>I realised that I ought to just go my own way, and I started this little company with a friend of mine with the goal of building niche websites for creative types in Montreal. I registered the company and we got to buisness.</p>

<figure>
	<img src="/assets/img/work/arthem/building.jpg" alt="WTC 1, or the freedom tower.">
	<figcaption>WTC 1, taken on a trip to new york some years ago, became the pseudo-image of Arthem's visual appeal.</figcaption>
</figure>

<p>Arthem is portmanteau of <i>Art</i> and <i>Hemingway</i>. I considered other names, but really not much else. While it isn't strictly speaking my art made under this brand, it later came to largely mean that.</p>

<figure>
	<img src="/assets/img/work/arthem/logo.png" alt="bare logo typographic design">
</figure>

<figure>
	<img src="/assets/img/work/arthem/earlyDesign.jpg" alt="early design">
	<figcaption>Low poly art was trendy (and still is with the resurgence of VR), and some imagery took that to heart.</figcaption>
</figure>

<p>In the early design seen above, the logographic representation came before the name. With consideration to a logo system that could be extensible as needed, low poly animals prove a nice metaphor for the young and proud.</p>

<p>As a brand identity, Arthem needed to tow the line between authoritatively respectable and being the people's choice. Conveying the digital-first approach and our sensitivity to a world mediated through code, the brand became an intersection between timeless modernism and the monospaced programming world..</p>

<figure>
	<img src="/assets/img/work/arthem/typography.jpg" alt="typography example with 'hack bold'">
	<figcaption>Hack Bold, <i><a href="https://github.com/chrissimpkins/Hack">link.</a></i></figcaption>
</figure>

<p>In terms of typeface, Hack was chosen as an extensible fit to the spec. Imposing, a programmer's typeface, and approachably cool. Monospaced was an odd fit at first, but it provided a unique presence other considered options just didn't have.</p>

<figure>
	<img src="/assets/img/work/arthem/typographic-single.jpg" alt="GHuggenheim">
	<img src="/assets/img/work/arthem/logographic.jpg">
		<figcaption>Brand identity imagery</figcaption>
</figure>

<p>The company was a legal entity by the summer of 2016, some half-year after its conceptual inception. And by the early winter of 2017, my partner and friend had lost interest in the vision and the idea of the venture.</p>

<p>I was left to finish up old contracts and did so, but Arthem hasn't taken on any new clients in a while. Efforts to find a partner to replace my quasi-co-founder haven't yielded anyone, and that's largely due to stagnation on what Arthem has been up to.</p>

<p>I share interesting technology news and art over facebook under that name, but not much else. The site was never completed, but I'm going to get to it soon enough.</p>

<p> Arthem.co lives here <a href="https://arthem.co">here</a> and I invite you to discover it for yourselves.</p>