<h1 class="page-title">Bass Camp Fridays</h1>

<p>This project consisted primarily of banner designs for social media to promote the Bass Camp Fridays series of events, with sub-designs for each performer and gig.</p>

<figure>
	<img src="/assets/img/work/BCF/design-0.png" alt="the original image that got us our style">
	<figcaption>Pamphlet and set list design</figcaption>
</figure>

<p>The challenge largely lay in creating an attractive design in one solution that would work across desktop and mobile social media crops. At different sizes, more or less of the final design would be <a target="_blank" href="/assets/img/work/BCF/fb.png">visible to the user.</a></p>

<figure>
	<img src="/assets/img/work/BCF/bcf-banner-1.jpg">
	<img src="/assets/img/work/BCF/bcf.png" alt="full Bass camp fridays design">
	<figcaption>Final branding deliverables</figcaption>
</figure>


<p>This was done entirely in illustrator, from concept, iteration, to final deliverable.</p>

