<h1 class="page-title text-center"><i class="icon-work"></i></h1>

<div id="project-filters">
	<a href="#" data-filter="*">All</a>
	<a href="#web" data-filter=".web">Web Design</a>
	<a href="#code" data-filter=".code">Programming</a>
	<a href="#game" data-filter=".game">Game Design</a>
	<a href="#photo" data-filter=".photo">Photography</a>
	<a href="#print" data-filter=".print">Print Design</a>
</div>

<div class="projects isotope">
	<%# display all posts by category %>
	<% for (let slug in site.projects) { %>
		<% if (slug != 'index') { // skip the index %>

		<a href="/projects/<%= slug %>" class="project item <%= site.projects[slug].category %>">
			<img src="/assets/img/work/thumbs/<%= slug %>.png">
			<h3><%= site.projects[slug].title %></h3>
	  </a>

	<% }} // end loop %>
</div>
