<header class="cover">
	<canvas id="canvas"></canvas>
	<!-- include('../partials/projectNav') %>-->
</header>
<article class="page">
		<h1 class="page-title">intervals II</h1>
		<p>A little collection of reaction-diffusion experiementation, with just a few shots of Processing code on the side.</p>

		<figure>
			<img src="/assets/img/work/intervals/1.jpg" alt="Looping 00">
			<img src="/assets/img/work/intervals/2.jpg" alt="Looping 00">
			<img src="/assets/img/work/intervals/3.jpg" alt="Looping 00">
			<img src="/assets/img/work/intervals/4.jpg" alt="Looping 00">
			<img src="/assets/img/work/intervals/5.jpg" alt="Looping 00">
			<img src="/assets/img/work/intervals/6.jpg" alt="Looping 00">
		</figure>

		<p>By the time you scrolled here, something cool should've happened up <a href="#">top</a>!</p>

	</article>

<script>
let canvas = document.getElementById("canvas");
let ctx = canvas.getContext("2d");
let dipRect = canvas.getBoundingClientRect();

let c = {}
let cw = canvas.width = Math.round(devicePixelRatio * dipRect.right)
								- Math.round(devicePixelRatio * dipRect.left);;
c.x = cw / 2;
let ch = canvas.height = Math.round(devicePixelRatio * dipRect.bottom)
								- Math.round(devicePixelRatio * dipRect.top);

canvas.style.width = "100%";
canvas.style.height = "100%";
c.y = ch / 2;

let frames = 0
let rad = Math.PI / 180;

let grid = [];
let next = [];
let t = 1;
// diffusion vars
let dA = .8;
let dB = .35;
let feed = .055,
	k = .062; // k == kill rate

for (let x = 0; x < cw; x += 1) {
	grid[x] = [];
	next[x] = [];
	for (let y = 0; y < ch; y += 1) {
		grid[x][y] = [];
		grid[x][y][0] = 1;
		grid[x][y][1] = 0;

		next[x][y] = [];
		next[x][y][0] = 1;
		next[x][y][1] = 0;
	}
}

function Seed() {
 /* let seed = {
		x: randomIntFromInterval(20, cw-20),
		y: randomIntFromInterval(20, cw-20)
	}
	console.log(seed)
	for (let i = seed.x; i < seed.x + 10; i += 1) {
		for (let j = seed.y; j < seed.y + 10; j += 1) {
			if(grid[i][j]){grid[i][j][1] = 1;}
		}
	}
	*/

	for( let i = 0; i < 360; i+=15){
		for(let j = 40; j < 50; j++){
		let x = Math.floor(c.x + j*Math.cos(i*rad));
		let y = Math.floor(c.y + j*Math.sin(i*rad));
		grid[x][y][1] = 1;
	}
}
 /*
 let n = 3;
for(let i= 0; i< 1260;i++){
	let t = i*rad;
	r =  n * t;
	x = ~~(c.x + r*Math.cos(t));
	y = ~~(c.y + r*Math.sin(t));
	grid[x][y][1] = 1;
}
*/
}

for (let r = 0; r < 5; r++) {
	Seed();
}

function Draw() {
	requestId = window.requestAnimationFrame(Draw);
	frames++;

	for (let x = 1; x < cw - 1; x += 1) {
		for (let y = 1; y < ch - 1; y += 1) {

			let a = grid[x][y][0];
			let b = grid[x][y][1];
			next[x][y][0] = (a + (dA * laplace(x, y, 0)) - (a * b * b) + (feed * (1 - a))) * t;
			next[x][y][1] = (b + (dB * laplace(x, y, 1)) + (a * b * b) - ((k + feed) * b)) * t;

		}

	}

	let imgData = ctx.createImageData(cw, ch);
	let pixels = imgData.data;
	for (let x = 1; x < cw - 1; x += 1) {
		for (let y = 1; y < ch - 1; y += 1) {
			let a = next[x][y][0];
			let b = next[x][y][1];
			let d = Math.floor((a - b) * 255);

			let red = normalizeColor(55 - d);
			let green = normalizeColor(155 - d);
			let blue = normalizeColor(255 - d);

			let pix = (x + y * cw) * 4;
			pixels[pix + 0] = red;
			pixels[pix + 1] = green;
			pixels[pix + 2] = blue;
			pixels[pix + 3] = 255;
		}
	}
	ctx.putImageData(imgData, 0, 0);

	swap();

}

requestId = window.requestAnimationFrame(Draw);

function swap() {
	let temp = grid;
	grid = next;
	next = temp;
}

function laplace(x, y, zo) {
	/*
	|.05 |.2|.05|
	| .2 |-1| .2|
	|.05 |.2|.05|
	*/

	let m = .2;
	let r = .05;
	let sum = 0;
	sum += grid[x][y][zo] * -1; // the center
	sum += grid[x - 1][y][zo] * m; // to the left
	sum += grid[x + 1][y][zo] * m; // to the right
	sum += grid[x][y + 1][zo] * m; // above
	sum += grid[x][y - 1][zo] * m; // below
	sum += grid[x - 1][y - 1][zo] * r; // top left
	sum += grid[x + 1][y - 1][zo] * r; // top right
	sum += grid[x - 1][y + 1][zo] * r; // bottom left
	sum += grid[x + 1][y + 1][zo] * r; // bottom right

	return sum;
}

function normalizeColor(c) {
	if (c < 0) {
		return 0;
	} else if (c > 255) {
		return 255;
	} else {
		return Math.floor(c)
	}
}

function randomIntFromInterval(mn, mx) {
	return Math.floor(Math.random() * (mx - mn + 1) + mn);
}

</script>
