<h1 class="page-title">The organization app</h1>

<p>Jars is an ongoing, under-development project of mine built with the foremost goal of replacing and streamlining the three markdown documents I currently organize my life with.</p>

<p>It started as a way to formalize and keep record of the markdown documents that precede it: today.md, week.md &amp; notes.md among others.</p>

<figure>
	<img src="/assets/img/work/jars/NYE-build.png" alt="">
	<figcaption>NYE Build 2017 build, pre-refactor</figcaption>
</figure>

<p>I started development with a Cue and Electron framework hybrid, to teach myself both. I think in that regrad it's been a wild succes, and I learned ES6 along the way as well.</p>


<p>Current efforts are now focused on integrating Google Calendar, and altering the user interface to reflect a focus on impromptu logging instead of after-the-fact commits.</p>

<p>Inspiration for the project in it's current form borrows from <a href="https://joshavanier.github.io/">John Avanier's</a> <a href="https://joshavanier.github.io/wiki/log/">log</a>. And other similar works.</p>

<figure>
	<h3>Early Design</h3>
	<img src="/assets/img/work/jars/good-evening.png" alt="">
	<figcaption>The header detail, which incorporates code from <a href="/life">life</a>.</figcaption>
	<br>
	<img src="/assets/img/work/jars/readme-1.png" alt="">
	<figcaption>The app homepage, v.0.0.2</figcaption>
</figure>

<figure>
	<img src="/assets/img/work/jars/alpha-01.png" alt="early alpha">
	<figcaption>Progress has come a long way</figcaption>
</figure>


<p>The project is <a href="https://github.com/stockHuman/Jars">available here on Github.</a></p>

