<h1 class="page-title">Moon</h1>

<p>Collected illustrations from my brief stint as a Photoshop painter.</p>

<figure>
	<img src="/assets/img/work/moon/moon.jpg">
	<img src="/assets/img/work/moon/voyager.jpg">
</figure>