<h1 class="page-title">The OPCM</h1>

<p>The <i>Orchestre Philharmonique et Choeur des Mélomanes</i>, or the OPCM for short, is a Montreal-based youth orchestra and choir.</p>

<p>A young non-profit started in 2014 fot Arthem's then-ideal candidate. I, and thus Arthem, wanted exactly that kind of up-and-coming company in the creative industry. The OPCM, being that and also a non-profit, was superb.</p>

<figure>
	<img src="/assets/img/work/opcm/olddesign.jpg" alt="Early navigation and colors">
	<figcaption>The colors and design elements have since evolved to a darker, more traditional scheme</figcaption>
</figure>

<p>The site was realized concurrently with <a href="/5ft25">5ft25</a>, another WordPress project. The challenges in this one however rested in both a need for bilingual site design meshed with deep content, and the lack of an established design language for such orchestras on the web.</p>

<figure>
	<img src="/assets/img/work/opcm/opcm-nav.gif" alt="Navigation animation">
	<figcaption>The cute navigation animation</figcaption>
</figure>

<p>Working with legacy color schemes, logo design and imagery proved to be a challenge too, especially considering the proposition of marrying the young appeal of the orchestra with a subject so thoroughly entrenched in the classical tradition.</p>

<p>The site is live <a href="https://opcm.ca">here.</a></p>
