<h1 class="page-title">pasta</h1>
<p>A small UE4 game made for FLOP, available for a quip spin <a href="https://flopmtl.itch.io/amore">here</a>.</p>

<figure>
	<img src="/assets/img/work/pasta/pasta-1.png" alt="">
	<img src="/assets/img/work/pasta/pasta-1.png" alt="">
	<img src="/assets/img/work/pasta/pasta-1.png" alt="">
</figure>