.collection {
	background: #00824E;

	h1, h4 {
		background-color: #dedede;
		@include font-size(40);
		font-family: monospace;
		padding: 2px 0 2px 8px;
	}

	h2 {
		@include font-size(60);
		padding-bottom: 1rem;
	}

	h4 {
		margin-top: 3rem;
		@include font-size(28);
	}
	// article proper
	#tumblr .item {
		// min-height: 100vh;
		// max-width: 100%;
		margin-bottom: $navPad;
		// padding-top: 4em;
		background: #dedede;
		border-radius: 2px;
		position: relative;
		h2, h3, p {
			padding: 2em;
			margin-bottom: 0;
		}

		.title {
			font-size: 24px;
		}
		.date {
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
}

.collection-list {
	font-family: monospace;
}