/* */

.projects {
	margin: $navWidth;
}

// this is an a tag
.project { 
	width: 100%;
	// padding-right: $navWidth;
}

#project-filters {
	text-align: center;
	margin: 3rem;
	a {
		display: inline-block;
		padding: 8px;
		margin-bottom: 7px;
	}
}

@include media('>phablet') {
	.project {
		width: 50%;
		padding-right: $navPad;
	}
}

@include media('>tablet') {
	.project {
		width: 33%;
	}
}

@include media('>desktop') {
	.project {
		width: 25%;
	}
}