*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	-moz-font-feature-settings: "liga", "kern";
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	@include font-size($font-size-base);
	background: $background-color;
	box-sizing: border-box;
	color: $font-color;
	font-family: $font-sans-serif;
	font-feature-settings: "liga", "kern";
	font-weight: $normal;
	line-height: 1.15;
	margin: 0;
	scrollbar-color: $scrollbar-cursor $scrollbar-background;
	scrollbar-width: thin;
	text-rendering: optimizelegibility;
	touch-action: manipulation;
	-webkit-text-size-adjust: 100%;
	&.disable-scroll {
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
}

body {
	@if variable-exists(background-image) {
		background-image: $background-image;
		background-attachment: fixed;
	}
}

// styles the scrollbar on supported browsers (chrome & webkit-based, IE)
::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background-color: $scrollbar-cursor;
}

::-webkit-scrollbar {
  height: 1px;
  background: $scrollbar-background;
}

::-moz-selection {
	background: $brand;
	color: $white;
}

::selection {
	background: $brand;
	color: $white;
}
