// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
  font-family: $font-heading // 'Helvetica Neue LT Std', 'Helvetica' ?
}

h1 { @include font-size($font-size-h1); line-height: 1.2;  }
h2 { @include font-size($font-size-h2); line-height: 1.25; }
h3 { @include font-size($font-size-h3); line-height: 1.3;  }
h4 { @include font-size($font-size-h4); line-height: 1.35; }
h5 { @include font-size($font-size-h5); line-height: 1.5;  }
h6 { @include font-size($font-size-h6); line-height: 1.6;  }

// use @include media();
@include media('>tablet') {
  h1 { @include font-size($font-size-h1 * 1.5); }
  h2 { @include font-size($font-size-h2 * 1.5); }
  h3 { @include font-size($font-size-h3 * 1.5); }
  h4 { @include font-size($font-size-h4 * 1.5); }
  h5 { @include font-size($font-size-h5 * 1.5); }
  h6 { @include font-size($font-size-h6 * 1.5); }
}

p {
  margin-top: 0;
}

hr {
  border: 0;
  height: 1px;
  background: $border-color;
  margin: $navWidth;
}
