Options +FollowSymLinks -MultiViews -Indexes

RewriteEngine On

# example.com/page will display the contents of example.com/page.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L,QSA]

# Disallow font hotlinking
RewriteCond %{HTTP:Origin}  !^$|http(s)?://(www\.)?michaelhemingway\.com$ [NC]
RewriteRule \.(woff|woff2|ttf|eot)$ - [NC,L]
RewriteCond %{HTTP_REFERER} !.
RewriteRule \.(woff|woff2|ttf|eot)$ - [F,NC,L]

# 301 from example.com/page.html to example.com/page
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.html\ HTTP/
RewriteRule ^(.*)\.html$ /$1 [R=301,L]

# 1 Month for most static assets
<filesMatch ".(css|jpg|jpeg|png|gif|js|ico|woff)$">
Header set Cache-Control "max-age=604800, public"
</filesMatch>


ErrorDocument 404 /404.html
