*,
*:before,
*:after { 
	box-sizing: inherit;
}

// Body reset
// -------------------------
html {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
	font-family: $font-sans-serif;
	@include font-size($font-size-base);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
	font-feature-settings: "liga", "kern";
	text-rendering: optimizelegibility;
	font-weight: $normal;
	color: $black;
	background: $background-color;
	@if variable-exists(background-image) {
		background-image: $background-image;
		background-attachment: fixed;
	}
	scrollbar-base-color: black;
  touch-action: manipulation;
	&.disable-scroll {
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
}

// styles the scrollbar on supported browsers (chrome & webkit-based, IE)
::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background-color: $nav-default-color;
}

::-webkit-scrollbar {
  width: 5px;
  height: 1px;
  background: $background-color;
}

::-moz-selection {
	background: $brand;
	color: $white;
}

::selection {
	background: $brand;
	color: $white;
}
