@import 'variables';
@import 'mixins';
@import 'helpers';
// somehow refused to compile when this was at the end of '_helpers.scss'

@function grid-column-width($n) {
    @return $column-width * $n - ($column-margin*($total-columns - $n)/$total-columns);
}

@function grid-offset-length($n) {
    @return grid-column-width($n) + $column-margin;
}