!= partial("../_includes/head")

body
	!= partial("../_includes/nav")

	#container.container
		main#content.page
			if (cover != '')
				header.cover
					img(src="/assets/img/work/covers/#{ cover }" alt="")
				article(data-base=data_base, data-highlight=data_highlight).page
					!= yield
					!= partial("../_includes/projectNav")	
			else
				!= yield		
				!= partial("../_includes/footer")
	!= partial("../_includes/scripts")

