<h1 class="page-title">Bitmap</h1>
<p>A collection of glitched &amp; datamoshed imagery done in processing, wordpad and audacity.</p>

<figure>
	<img src="/assets/img/work/bitmap/f1.png" alt="boudoir">
	<img src="/assets/img/work/bitmap/f2.png" alt="">
</figure>

<p>Source code is  <a href="https://github.com/MichaelHemingway/CART-353/tree/master/image">available here</a>.</p>

<figure>
	<img src="/assets/img/work/bitmap/bulls.jpg" alt="">
</figure>

<figure>
	<img src="/assets/img/work/bitmap/f3.png" alt="">
</figure>

<figure>
	<img src="/assets/img/work/bitmap/mirror.jpg" alt="">
</figure>