<h1 class="page-title">bitmap</h1>
<p>A collection of glitched &amp; datamoshed imagery done in Processing, Wordpad and Audacity.</p>

<figure>
	<img src="/assets/img/work/bitmap/f1.png" alt="boudoir">
	<img src="/assets/img/work/bitmap/f2.png" alt="">
	<figcaption>Pixel sorting and repeating in Processing</figcaption>
</figure>

<figure>
	<img src="/assets/img/work/bitmap/f3.png" alt="">
	<figcaption>Channel offset in Processing</figcaption>
</figure>

<figure>
	<img src="/assets/img/work/bitmap/bulls.jpg" alt="">
	<figcaption>Pixel Sorting, with code from Generate Me</figcaption>
</figure>

<figure>
	<img src="/assets/img/work/bitmap/f4.jpg" alt="">
	<img src="/assets/img/work/bitmap/f5.jpg" alt="">
	<figcaption>Processing as audio file</figcaption>
</figure>

<p><a href="/assets/img/work/bitmap/bitmap.bmp.wav">The sound of images </a></p>

<figure>
	<img src="/assets/img/work/bitmap/mirror.jpg" alt="">
	<figcaption>done in the mirror lab app</figcaption>
</figure>

<p>Source code is <a href="https://github.com/stockhuman/CART-353/tree/master/image">available here</a>.</p>
