<h1 class="page-title text-center"><i class="icon-work"></i></h1>

<div id="project-filters">
	<a href="#web" filter="web">web</a>
</div>
toyota
<div class="projects isotope">

	<%# display all posts by category %>
	<% for (var slug in public.projects._data) { %>
		<% if (slug != 'index') { // skip the index%>

		<a href="/projects/<%= slug %>" class="project item <%= public.projects._data[slug].category %>">
			<img src="/assets/img/work/thumbs/<%= slug %>.png">
			<h3><%= public.projects._data[slug].title %></h3>
	  </a>

	<% }}; // end loop %>

</div>