<h1 class="page-title">The organization app</h1>

<p>Jars is an ongoing, under-development project of mine built with the foremost goal of replacing and streamlining the three markdown documents I currently organize my life with.</p>

<p>It's a calendar, a task manager and note taking app all in one, built atop the Vue.js and Electron frameworks.</p>

<p>The project is <a href="https://github.com/stockHuman/Jars">available here on Github.</a></p>

