<h1 class="page-title">MKWY</h1>

<p>Ah, the oldest still-active project under my belt. <i>Mikemingway,</i> a portmanteau of <i>Mike</i> and <i>Hemingway</i> was my first sortie in web design, branding myself, marketing, organized photographic collections, and in figuring out who I am.</p>

<figure>
	<img src="/assets/img/work/mikemingway/23.jpg" alt="from the Pamplona series, hands in the txcupinazo">
	<figcaption>Hands, from the Pamplona series 2014</figcaption>
</figure>

<p>As noted, I <i>learned</i> web design on this site. While this project is categorized as such because it was initially my exercise in web design, this could also safely fall into visual style crafing, SEO, and of course, photography.</p>

<figure>
	<img src="/assets/img/work/mikemingway/MK-1.png" alt="early design">
	<figcaption>The earliest iteration of my site, with the "CSS column" spec and big type, logo and graphics. </figcaption>
</figure>

<p>The logo on the top left of this site has actually remained largely the same since the very very inception of the brand. While I never watermarked my images; all my handmade buisness cards, web presence and the like had this little superimposed 'M &amp; H' design.</p>

<figure>
	<img src="/assets/img/work/mikemingway/MK-2.jpg" alt="early design">
	<figcaption>The original site was bound to three categories.</figcaption>
</figure>

<p>Looking back, it was rather cute. I write the whole thing in <a href="brackets.io">Brackets</a>, and all my CSS was plain ol' cascading style sheets - and all in one long file, too. I had at least lerned of minification.</p>

<p>I owe so much of my drive to build to a podcast I was listening to at the time, "Seanwes." Nigh-daily (and eventually weekly as I cought up with the backlog), hour-long shows about productivity and defining one's buisness.</p>

<figure>
	<img src="/assets/img/work/mikemingway/24.jpg" alt="GHuggenheim">
	<img src="/assets/img/work/mikemingway/redesign.jpg">
		<figcaption>Ghuggenheim series, 2015. Bottom: A redesign mockup for the final wordpress site</figcaption>
</figure>

<p>By 2016 I had decided on transitioning into a CMS <a href="http://photo.michaelhemingway.com/new-site-new-rythm/">as detailed</a> in this old post of mine. With that project I taught myself better WordPress, after dipping my toes with the <a href="./the-plant">the plant.</a></p>

<figure>
	<img src="/assets/img/work/mikemingway/current.jpg">
	<figcaption>The current iteration of my design.</figcaption>
</figure>

<p>A copy of the original site, and a more up-to-date one at that, lives <a href="http://photo.michaelhemingway.com">here</a> on a subdomain. I invite you to discover it for yourselves.</p>