<!DOCTYPE html>
<html lang="en">
  <head>
		<% include _includes/head %>
  </head>
  <body>
		<% include _includes/nav %>
		<main id="main">
    	<%- yield %>
		</main>
		<% include _includes/footer %>
  </body>
</html>
