<!DOCTYPE html>
<html lang="en">
  <head>
		<% include _includes/head %>
  </head>
  <body>
		<% include _includes/nav %>
		<div id="container" class="container">
    	<%- yield %>
    	<% include _includes/footer %>
		</div>
  <% include _includes/scripts %>