<div id="content" class="container about">
	<header class="cover">
			<svg viewBox="0 0 100 100"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;}</style></defs><circle class="cls-1" cx="35" cy="65" r="9"/><circle class="cls-1" cx="65" cy="35" r="9"/><line class="cls-1" x1="41" y1="59" x2="58.5" y2="41.5"/></svg>
	</header>
	<article class="page about" data-base="darkblue">
		<p>sexy guy. sexy penis. smart and good for conversation. also a robot.</p>
		<p>	░ <a href="https://www.linkedin.com/in/mikemingway/">LinkedIn</a> 	░ <a href="https://twitter.com/mikemingway">Twitter</a> ░ <a href="https://github.com/MichaelHemingway/">Github</a></p>
	</article>

</div>
