<div id="content" class="container home">
	<% for ( var i = 0; i < items.length; i ++)  { %>
			<a href="<%= items[i].link %>" class='home-item'>
          <img src="<%= items[i].img %>" />
      </a>
	<% } %>
</div>
