<main id="content" class="home">
	<div class="home-banner">
		<canvas id="home-canvas">
			<img src="/assets/img/home/home.png">
		</canvas>
		<div id="home-canvas-overlay">
			<h1>It me, Michael</h1>
			<p>Doot doot</p>
		</div>
	</a>
	
	<%# Display the curated collection of links %>
	<% for ( var i = 0; i < items.length; i ++)  { %>
			<a href="<%= items[i].link %>" class='home-item'>
					<div class="hi-img">
						<img src="<%= items[i].img %>" />
						<div class="border"></div>
					</div>

					<% var srcTit = items[i].link.split("/");
						 var linkTitle = srcTit.pop();
						 linkTitle = linkTitle.replace(/-/g, ' '); %>

					<div class="title">
						<h2><%= linkTitle %></h2>
						<h4><%= items[i].desc %></h4>
					</div>

      </a>
	<% } %>
</main>