<main id="content" class="home">
	<a href="/about" class="home-banner">
		<img src="/assets/img/home/home.png" alt="" >
	</a>
	

	<% for ( var i = 0; i < items.length; i ++)  { %>
			<a href="<%= items[i].link %>" class='home-item'>
					<div class="hi-img">
						<img src="<%= items[i].img %>" />
						<div class="border"></div>
					</div>

					<% var srcTit = items[i].link.split("/");
						 var linkTitle = srcTit.pop();
						 linkTitle = linkTitle.replace(/-/g, ' '); %>

					<div class="title">
						<h2><%= linkTitle %></h2>
						<h4><%= items[i].desc %></h4>
					</div>

      </a>
	<% } %>
</main>
