<div id="content" class="container projects">

  <a href="/projects/the-plant" class="portfolio-item">
    <img src="/assets/img/pcovers/theplantbanner.jpg" alt="">
    <h2>The Plant</h2>
  </a>
  <a href="/projects/5ft25" class="portfolio-item">
    <img src="/assets/img/pcovers/cover.png" alt="">
    <h2>5ft25</h2>
  </a>
  <a href="/projects/intervals-ii" class="portfolio-item">
    <img src="/assets/img/pcovers/img2.jpg" alt="">
    <h2>lil title</h2>
  </a>
  <a href="" class="portfolio-item">
    <img src="/assets/img/pcovers/img.jpg" alt="">
    <h2>other text</h2>
  </a>
  <a href="" class="portfolio-item">
    <img src="/assets/img/pcovers/img2.jpg" alt="">
    <h2>datalist</h2>
  </a>
  <a href="" class="portfolio-item">
    <img src="/assets/img/pcovers/img3.jpg" alt="">
    <h2>draggable</h2>
  </a>
  <a href="" class="portfolio-item">
    <img src="/assets/img/pcovers/img.jpg" alt="">
    <h2>extremeleylongunbrokenstring</h2>
  </a>
  <a href="" class="portfolio-item">
    <img src="/assets/img/pcovers/img2.jpg" alt="">
    <h2>longform titles only </h2>
  </a>

</div>
