<div id="content" class="container about">
	<header class="cover">
		<svg viewBox="0 0 100 100"><path fill="black"  d="M49.5,29A21.5,21.5,0,1,0,71,50.5,21.52,21.52,0,0,0,49.5,29Zm0,1A20.51,20.51,0,0,1,70,50H29A20.51,20.51,0,0,1,49.5,30Zm0,41A20.51,20.51,0,0,1,29,51H70A20.51,20.51,0,0,1,49.5,71Z"/></svg>
	</header>
	<article class="page about" data-base="#000">
		<p>sexy guy. sexy penis. smart and good for conversation. also a robot.</p>
		<p>	░ <a href="https://www.linkedin.com/in/mikemingway/">LinkedIn</a> 	░ <a href="https://twitter.com/mikemingway">Twitter</a> ░ <a href="https://github.com/MichaelHemingway/">Github</a></p>
	</article>



</div>
