!= partial("../../_includes/head")

body.collection
	!= partial("../../_includes/nav")

	#container.container
		main#content
			article(data-base="#11051b", data-highlight="#ffffff").page.item
				h2=title
				hr
				!= yield
		!= partial("../../_includes/footer")

	!= partial("../../_includes/scripts")