@use "../utils/variables";

.dark-theme {
  background: variables.$gray-darker;
  color: variables.$gray-lighter;
  scrollbar-color: variables.$scrollbar-background variables.$scrollbar-cursor;

  &::-webkit-scrollbar-thumb:vertical {
    background-color: variables.$scrollbar-background;
  }

  &::-webkit-scrollbar {
    background: variables.$scrollbar-cursor;
  }

  .home .header .desc,
  .button,
  button {
    color: variables.$gray-lighter;
  }

  article.page {
    color: variables.$gray-lighter;
  }

  footer {
    background: variables.$black;
  }

  .tgl-light:checked + .tgl-btn {
    background: variables.$gray-darker;
  }

  .collection .card {
    border: #000 1px solid;
    &:hover {
      background: variables.$gray-darker;
    }
  }

  .collection .card a {
    background: variables.$black;
  }
  article p > a[href^='http']::before {
    background: variables.$brand;
  }

  ::-moz-selection {
    background: variables.$white;
    color: variables.$brand;
  }

  ::selection {
    background: variables.$black;
    color: variables.$brand;
  }
  header.cover {
    background-color: #aaa;
    border-radius: variables.$global-radius;
  }

  // makes images less likely to blend into a dark background
  article.page img[src*='dither'],
  article.page .cssbg[style*='dither'] {
    mix-blend-mode: lighten;
  }
}
