form {
	display: flex;
	flex-flow: wrap;
}

textarea {
	flex-grow: 5;
  display: block;
  height: auto;
  width: 100%;
  resize: vertical;
}

input, textarea, button {
	padding: 1rem;
	margin: 0.5em 0;
	border-radius: 2px;
	border: 1px transparent solid;
	&:focus {
		border: 1px blue solid;
	}
}

#contact-form input {
	width: 100%;
}

@include media('>tablet') {
	#contact-form {
		display: flex;
		flex-flow: row wrap;
		input {
			width: calc(50% - 2px);
			&:nth-of-type(1){margin-right: 2px;}
			&:nth-of-type(2){margin-left: 2px;}
		}
	}
}

button[type=submit] {
	width: 50%;
}

