a {
	color: inherit;
	text-decoration: none;
	&:focus {
		background: rgba(20,20,20,0.3);
		outline: inset;
	}
}

.mn a:focus {
	outline: none;
}

// external links
article p > a {
	position: relative;
	font-style: italic;
	&:hover {
		&::before {
			max-width: 100%;
		}
	}
	&::before {
		transition: max-width .2s ease;
		position: absolute;
		content: '';
		background: $gray-light;
		bottom: -1px;
		height: 2px;

		max-width: 20px;
		width: 100%;
	}
}

article p > a[href^="http"] {
	&::before {
		background: black;
	}
}
