	<footer>
		<% if(environment == "development")  { %> <!-- DEV --> <% } %>
		<div class="colophon">
			<p><a href="/about">Michael Hemingway</a> © 2017</p>
			<p>It's all in the nav, man.<br><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></p>
		</div>
		<p style="font-family: monospace;"><a href="https://twitter.com/StockHuman">Twitter</a> * <a href="https://www.instagram.com/fromaggio/">Instagram</a> * <a href="https://github.com/stockhuman">Github</a></p>
	</footer>
