<div id="transitioner"></div>

<nav id="nav-main">
	<div id="nav-home-icon">
		<a href="/">
			<svg version="1.1" x="0px" y="0px" width="180px" height="100px"
				viewBox="0 0 180 100" xml:space="preserve">
<path fill="#FFFFFF" d="M0,100h8V51h33.66l43.73,43.9L90,99l48.1-48H172v49h8V9.18v-0.6V0.03V0h-0.04l0.02,0.02L137.13,43H42.85L0,0
	 M8,43V17.21L33.69,43H8z M89.97,90.29L50.82,51h78.33L89.97,90.29z M172,43h-25.89L172,17.17V43z"/>
			</svg>

		</a>
	</div>
	<div id="nav-inner">
		<ul class="nav-list-container">
			<li class="nav-list-item">
				<a href="/">
					<i class="icon-home"></i>
					<p class="nav-link-text">Home</p>
				</a>
			</li>
			<li class="nav-list-item">
				<a href="/projects">
					<i class="icon-work"></i>
					<p class="nav-link-text">Works</p>
				</a>
			</li>
			<li class="nav-list-item">
				<a href="/collection">
					<i class="icon-blog"></i>
					<p class="nav-link-text">Collection</p>
				</a>
			</li>
			<li class="nav-list-item">
				<a href="/about">
					<i class="icon-about" style="margin-left: -7%;"></i>
					<p class="nav-link-text">About</p>
				</a>
			</li>
			<li class="nav-list-item">
				<a href="/contact">
					<i class="icon-contact"></i>
					<p class="nav-link-text">Contact</p>
				</a>
			</li>
		</ul>
	</div>

	<div id="nav-toggle">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>

	<div id="nav-social">
		<ul class="nav-social-container">

			<li class="nav-social-link">
				<a href="https://www.facebook.com/MichaelHemingwayPhoto/">
					<i class="fa fa-facebook"></i>
				</a>
			</li>

			<li class="nav-social-link">
				<a href="https://www.instagram.com/stock.human/">
					<i class="fa fa-instagram"></i>
				</a>
			</li>

			<li class="nav-social-link">
				<a href="https://twitter.com/stockhuman">
					<i class="fa fa-twitter"></i>
				</a>
			</li>

			<li class="nav-social-link">
				<a href="https://www.behance.net/stockhuman">
					<i class="fa fa-behance"></i>
				</a>
			</li>

			<li class="nav-social-link">
				<a href="https://soundcloud.com/stockhuman">
					<i class="fa fa-soundcloud"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>
