<% page.title = 'Collection' %>
<article class="page collection">
  <h1 class="page-title text-center" aria-hidden="true">
    <span class="icon-blog" aria-hidden="true">☷</span>
  </h1>

  <h1>The Collection</h1>

  <p>
    The collection is my content graveyard; It's made of the things that didn't
    quite make it to the projects, or weren't mine and I just wanted to save.
    It's like a blog, but for more than just writing.
  </p>

  <%
  const collection = site.collection.sort((prev, curr) => prev.page.date - curr.page.date).reverse()
  for (let i = 0; i < collection.length; i++) { let p = collection[i] %>
  <article>
    <a href="<%= `/collection/${p.page.type}/${p.path}` %>" class="card">
			<p><%= p.page.title %></p>
			<span><%= new Date(p.page.date).getFullYear() +', ' + p.page.type %></span>
		</a>
  </article>

  <% } %>
</article>
