	<header class="cover">
		<svg viewBox="0 0 100 100"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;}</style></defs><title>Writing</title><line class="cls-1" x1="27" y1="36.5" x2="27" y2="43.5"/><line class="cls-1" x1="26.5" y1="36.5" x2="73.5" y2="36.5"/><line class="cls-1" x1="27" y1="46.5" x2="27" y2="53.5"/><line class="cls-1" x1="26.5" y1="46.5" x2="73.5" y2="46.5"/><line class="cls-1" x1="27" y1="56.5" x2="27" y2="63.5"/><line class="cls-1" x1="26.5" y1="56.5" x2="73.5" y2="56.5"/></svg>
	</header>

<h1>The Collection</h1>

<p>The collection is my content graveyard; It's made of the things that didn't quite make it to the projects, or weren't mine and I just wanted to save. It's like a blog, but for more than just writing.</p>

<hr>

<div id="tumblr" class="collection-list">

</div>

<script src="/assets/js/tumblr.js" defer></script>