<article class="page">
	<h1 class="page-title text-center" aria-hidden="true">
		<span class="icon-blog" aria-hidden="true">☷</span>
	</h1>

	<h1>The Collection</h1>

	<p>The collection is my content graveyard; It's made of the things that didn't quite make it to the projects, or weren't mine and I just wanted to save. It's like a blog, but for more than just writing.</p>
</article>


<script src="/assets/js/tumblr.js" defer></script>
