<header class="cover">

</header>

<h1>The Collection</h1>

<p>The collection is my content graveyard; It's made of the things that didn't quite make it to the projects, or weren't mine and I just wanted to save. It's like a blog, but for more than just writing.</p>

<hr>

<div id="tumblr" class="collection-list">

</div>

<script src="/assets/js/tumblr.js" defer></script>
