@use "../utils/mixins";
@use "../utils/variables";

.container {
  position: absolute;
  top: variables.$navPad;
  right: variables.$navPad;
  left: variables.$navPad;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  color: inherit;
}

@include mixins.media('>tablet') {
  .container {
    left: variables.$navWidth + variables.$navPad * 2;
  }
}

@include mixins.media('>ultrawide') {
  .container {
    left: variables.$navWidthExpanded + variables.$navPad * 2;
  }
}

#content {
  min-height: 100vh;
}
