footer {
	@extend %radius;
	@extend %block;
	background: darken($gray-lighter, 5%);
	padding: $navWidth;
	margin-bottom: $navPad * 2 + $navWidth;
	color: $gray;
}

// adjust for the nav being at the bottom in mobile
@include media('>tablet') {
	footer {
		margin-bottom: $navPad;
	}
}
