.stats {
	background: rgba(lighten($tertiary, 5%), 0.4);
	@extend %radius;
	@extend %block;
	padding: $navWidth;

	text {
		font-size: 9px;
		opacity: 0.3;
		font-family: monospace;
	}
	.docs {
		fill: $brand;
	}
	.read {
		fill: $tertiary;
	}
	.code {
		fill: $white;
	}
}
