#transitioner {
	position: fixed;

	z-index: map-get($z-index, 'nav');
	background: $white; // change for currentColor?

	transition-property: transform;
	transition-duration: .31s;

	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	-webkit-transform: scaleX(0);
		 -moz-transform: scaleX(0);
			-ms-transform: scaleX(0);
			 -o-transform: scaleX(0);
					transform: scaleX(0);

	display: none;
	@include media('>tablet') {
		display: block;
	}
}

.is-exiting {
	#transitioner {
		-webkit-transform: scaleX(1);
			 -moz-transform: scaleX(1);
				-ms-transform: scaleX(1);
				 -o-transform: scaleX(1);
						transform: scaleX(1);
	}
}