@keyframes navToggle {
	0% {
    left: 30px;
  }
  100% {
    left: 12px;
  }
}

#transitioner {
  position: fixed;
  z-index: map-get($z-index, 'nav');
  background: $white; // change for currentColor?

  transition-property: width;
  transition-duration: .31s;

  top: $navPad;
  bottom: $navPad;
  left: $navPad;
  width: $navWidth;

  display: none;
  @include media('>tablet') {
    display: block;
  }
}

.is-exiting {
  #transitioner {
    width: 100%;
  }
}
