#nav-main {
  position: fixed;
  z-index: map-get($z-index, 'nav');
  background: $nav-default-color; // change for currentColor?
  color: white;
  box-shadow: 0 0 26px 1px rgba(0,0,0,0.28);

  transition-property: height, width, background, color;
  transition-duration: 0.45s, 0.5s, 1s, 2s;

  height: $navWidth;
  bottom: 0;
  left: $navPad;
  right: $navPad;
}

#nav-home-icon {
  position: absolute;
	padding: 0 $navPad $navPad $navPad;
  svg {
    max-width: $navWidth - ($navPad * 2);
		max-height: $navWidth;
		path {fill: currentColor;}
  }
}

#nav-social,
#nav-title {
  width: 100%;
  z-index: 2;
}

#nav-title {
  position: absolute;
  top: $navPad*2.1;
  font-weight: 200;
  left: 65px; // width of logo - parameterize
	transition: opacity .3s ease;
	opacity: 0;
}

#nav-inner {
  padding: $navWidth;
  margin: 0;
  display: table;
  height: 100%;
  width: 100%;
}

.nav-list-item,
.nav-social-link {
  list-style: none;

  a {
    text-decoration: none;

    i { // img?
      display: block;
      font-size: $navIconSize;
    }
  }
}

.nav-list-container {
  padding: 0;

  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

// individual blocks
.nav-list-item {
  &:hover {
    background: rgba(20,20,20,0.1);
  }

  a {
    display: block;
    padding-top: 20%;
  }

  .nav-link-text {
    display: none;
    margin-bottom: 1rem;
  }
}

// social media links

#nav-social {
  z-index: 2;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: $navWidth;
  padding-left: $navWidth;
}

.nav-social-container {
  display: flex;
  flex-flow: row;
}

.nav-social-link {
  flex-grow: 1;
  a i {
    font-size: $navIconSize/1.2;
  }
}

// nav toggle logic in '_animation.scss'

// NAV TOGGLE LOGIC
.nav-is-open {
  #nav-main {
    height: calc(100% - .5rem);
  }

  #nav-social,
  #nav-title {
    visibility: visible;
  }

  #nav-inner {
    padding: $navWidth; // remove to make full-width
  }

  .nav-list-item {
    // border: solid 1px rgba(20,20,20,0.1);
    width: 50%;
    float: left;

    a i {
      font-size: $navIconSize*3;
    }

    .nav-link-text {
      display: block;
    }
  }

  .nav-social-link {
    visibility: visible;
    opacity: 1;
  }
}
