#global-header {
  transform: rotate(-90deg);
  position: fixed;
  left: -100px;
  top: 40px;
  display: block;
  background: $brand;
  height: 40px;
  z-index: 0;
  h1 {
    margin-top: 2.2rem;
    margin-left: -3px;
    text-transform: uppercase;
    @include font-size(40);
    font-family: 'Muli', sans-serif;
  }
}

@include media('>phablet') {
  #global-header {
    left: -120px;
    h1 {
      @include font-size(55);
    }
  }
}


@include media('>tablet') {
  #global-header {
    left: -200px;
    h1 {
      @include font-size(90);
    }
  }
}

@include media('>desktop') {
  #global-header {
    left: -400px;
    h1 {
      @include font-size(140);
    }
  }
}

@include media('>ultrawide') {
  #global-header {
    left: -500px;
    h1 {
      @include font-size(200);
    }
  }
}
