// Main site elements
#background {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	pointer-events: none;
}

#background {
	// background-image: url(../images/img-noise-361x370.png);
	background-image:url( http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=626262&density=15&opacity=15);
	z-index: 0;
}

#border {
	position: fixed;
	top: $global-padding;
	left: $global-padding;
	bottom: $global-padding;
	right: $global-padding;
	border: solid 2px $tertiary;
	pointer-events: none;
	z-index: map-get($z-index, 'nav')-1;
}

#main {
  overflow: scroll;
}
