
#nav-toggle {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    @include font-size(22);
    z-index: 30;
    font-family: 'Muli', sans-serif;
    border-bottom: 4px currentColor solid;
    padding: 0 0 6px;
    background: white;
    &:hover {
      background: yellow;
      border-bottom: 4px white solid;
    }
}

#nav-main {
  position: fixed;
  right: 0;
  top: 0;
  width: 80vw;
  transition: transform .3s ease;
  transform: translate(120%, 0);
  z-index: 30;
  background: $brand;
  height: 100%;
  box-shadow: -4px 0px 49px -12px rgba(0, 0, 0, 0.42);
  ul {
    list-style: none;
    transform: translateY(30vh);
    padding-left: 2rem;
     .menu-item {
        padding: 0.5rem;
        a {
          text-decoration: none;
          color: white;
          font-size: 50px;
          font-family: 'Muli', sans-serif;
          &:hover {
              text-decoration: underline;
          }
        }
    }
  }
}

.nav-is-open #nav-main {
    transform: translate(0, 0);
}

@include media('>tablet') {
  #nav-main {
    width: 40vw;
    ul {
      transform: translateY(25vh);
      li {
        margin-bottom: 1rem;
        a {
          padding: 2rem;
          font-size: 30px;
        }
      }
    }
  }
}
