#nav-main {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  background: $brand;
  z-index: map-get($z-index, 'nav');
  @include transform(translate3D(0,100%,0));
  transition: transform $easeOutQuad .3s;
  ul { // inner nav
    text-align: center;
    list-style: none;
    @include transform(translateY(40vh));
  }
  .menu-item {
    padding:0 $global-padding 0;

    a {
      text-decoration: none;
      color: currentColor;
    }
  }
  .nav-is-open &{
    @include transform(translate3D(0,0,0));
  }
}

#nav-toggle {
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: -$global-padding;
  cursor: pointer;
  z-index: map-get($z-index, 'nav');
  p {
    text-transform: uppercase;
    color: $secondary;
  }
}



// other nav elements
.home-link {
  color: $gray-light;
  text-transform: uppercase;
  position: fixed;
  padding: $global-padding/4;
  top: 0;
  left: 7%;
  z-index: map-get($z-index, 'nav')+1;
  transition: color .2s $easeInOutSine;
  &:hover {
    text-decoration: none;
    color: $black;
  }
}
