
// Cover (featured image)
header.cover {
	svg {
		max-height: 80vh;
		text-align: center; // fix for FF & Edge
	}
	canvas {
		overflow: hidden; // fix weird overflow issue
	}
}

// little ul with descriptors
.page-title {
	margin-top: $navWidth;
	margin-bottom: $navWidth;
}

article.page {	
	max-width: 740px;
	padding: 0 20px 0 20px;
	margin: 0 auto;
	@include font-size(28);
	color: lighten($black, 17%);
	line-height: 1.5;
	padding-bottom: $navWidth;

	// images
	figure {
		overflow: hidden;
		padding: $navWidth 0 $navWidth 0;
		margin: 0 -1.6rem 0 -1.6rem; // magic number...
	}
}

.project-nav {
	width: 100%;
	height: 4em;
	position: relative;
	text-align: center;
	color: darken($gray-lighter, 20%);

	a[class^='project-nav-'] {
		padding: $navWidth/3;
		width: 50%;
		// border-left: 1px solid $gray-light;
		margin-bottom: 0;
		border-bottom: 1px darken($gray-lighter, 5%) solid;
		transition: color .2s;
		float: left;
		&:hover {
			color: $gray;
		}
	}

	.project-nav-next, .project-nav-prev {
		transition: background .2s ease;
		&:hover {
			background: darken($gray-lighter, 5%);
		}
	}

	.project-nav-next {
		&::after {
			float: right;
			content: ">";
		}
	}

	.project-nav-prev {
		&::before {
			float: left;
			content: "<";
		}
	}

	.project-nav-year, .project-nav-cat {
		display: none;
	}

	.project-nav-year {
		border-right: 1px darken($gray-lighter, 5%) solid;
	}
	.project-nav-cat {
		border-right: 1px darken($gray-lighter, 5%) solid;
		border-left:  1px darken($gray-lighter, 5%) solid;
	}
	&.no-next {}
	&.no-prev {
		margin-left: 25%;
		.project-nav-next, .project-nav-cat, .project-nav-year {
			float: left;
		}
	}
}

@include media('>tablet') {
	article.page{
		figure img {
			border-radius: 2px; // add a rounded corner when the image doesn't size edge to edge
		}
	}
	.project-nav a[class^='project-nav-'] {
		width: 25%;
	}
	.project-nav .project-nav-year, .project-nav .project-nav-cat {
		display: block;
	}
}

@include media('>desktop') {
	article.page{
		figure {
			margin: 0 -15% 0 -15%; // magic number...
		}
	}
}