/* All home page layout & elements */

.container.home {
  box-shadow: 0px 0px 26px 1px rgba(0,0,0,0.28);
  text-align: center;
  bottom: $navPad;
	display: flex;
	flex-flow: row wrap;
}

.home-item {
	width: 100%;
	display: block;
	position: relative;
	.highlight {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		background-image: url('../img/ui/checker.png');
		transition: .2s opacity;
	}
}

@include media('>tablet') {
	.home-item {
		width: 50%;
		&:first-of-type {
			width: 100%;
		}

		&:hover {
			.highlight {
				opacity: 1;
			}

		}
	}
}
