.projects{
  text-align: center;
  padding-bottom: $navWidth;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
.portfolio-item {
  width: 100%;
  padding: 3em;
	border: 2px solid transparent;
  &:hover {
    // border: 2px solid black;
		background-image: url('/assets/img/ui/checker-light.png');
		img {
			-webkit-filter: hue-rotate(80deg);
		  filter: hue-rotate(80deg);
		}
  }
	&:focus {
		background-image: url('/assets/img/ui/checker.png');
	}

}

@include media('>tablet'){
  .portfolio-item {
    width: 50%;
  }
}

@include media('>desktop'){
  .portfolio-item {
    width: 33%;
  }
}

@include media('>ultrawide'){
  .portfolio-item {
    width: 25%;
  }
}
