img {
  width: 100%;
}

figcaption {
	padding: 0 1em 0 1em;
	color: $gray;
	font-size: small;
}

.full-width-video, .video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
	
	iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	}
}