@use "../base/extends";
@use "../utils/mixins";
@use "../utils/variables";

.collection {
  header {
    h1 {
      margin-bottom: 2px;
    }
    p {
      font-family: monospace;
      color: rgba(variables.$font-color, 0.6);
    }
  }

  .card {
    background: variables.$white;
    border: variables.$white 1px solid;
    @extend %radius;
    margin: variables.$navPad 0;
    padding: variables.$navPad * 2;
    line-height: 1;
    display: block;

    p {
      margin: 0;
      letter-spacing: 1px;
      font-weight: 460;
    }
    span {
      @include mixins.font-size(variables.$font-size-small);
      font-family: 'Courier New', Courier, monospace;
    }
    &:hover,
    &:focus {
      mix-blend-mode: exclusion;
      background: khaki;
    }
  }
}
