.collection {
  header {
    h1 {
      margin-bottom: 2px;
    }
    p {
      font-family: monospace;
      color: rgba($font-color, 0.6);
    }
  }

  .card {
    // background: $white;
    border: $white 1px solid;
    @extend %radius;
    margin: $navPad 0;
    padding: $navPad * 2;
    line-height: 1;
    display: block;

    p {
      margin: 0;
      letter-spacing: 1px;
    }
    span {
      @include font-size($font-size-small);
      font-family: 'Courier New', Courier, monospace;
    }
    &:hover,
    &:focus {
      mix-blend-mode: exclusion;
      background: khaki;
    }
  }
}
