.home {
	padding-bottom: $navPad;
	margin-top: 50vh;

	.header {
		max-width: 740px;
    padding: 0 20px 0 20px;
    padding-bottom: 0px;
    margin: 0 auto 2rem auto;
		h1 { margin-bottom: 2px; }
		p {
			font-size: 18px;
			font-family: monospace;
			display: inline;
		}
		.desc {
			color: rgba($font-color, 0.6);
		}
	}

	.stats {
		// background: rgba(darken($gray-lighter, 5%), 0.2);
		border: 1px solid rgba($font-color, 0.2);
		border-radius: $global-radius;
		max-width: 1600px;
		margin: 0 auto;
		padding: $navWidth;
	}

	.grid {
		max-width: 1600px;
		margin: 0 auto;
		margin-bottom: 2em;
		display: grid;
		grid-template-columns: 1fr;
 		grid-gap: $navPad;
	}
}

.home-item {
	// background: $white;
	// padding: $navPad;
	border-radius: $global-radius;

	img {
		background-blend-mode: hard-light;
		mix-blend-mode: multiply;
	}

	h2, p {
		margin: $navPad
	}
}

@include media('>phablet') {
	.home .grid { grid-template-columns: 1fr 1fr; }
}
