<% page.title = '404' %>
<main id="content" class="page error">
	<h1 class="page-title text-center">404</h1>
	<article class="page" data-base="dd4b39">
		<p>Ain't nothing here, son. Best head <a href="<%= site.basePath %>/">home.</a></p>
		<img src="<%= site.basePath %>/assets/img/other/dither-404.jpg.png" alt="A matador performs a pass, but the bull has been erased from the image, replaced with a white silhouette and a 404 notice">
	</article>
</main>
