<% page.title = 'About' %>
<main id="content" class="page about">
	<h1 class="page-title text-center" aria-hidden="true">
	  <span class="icon-about">◵</span>
	</h1>
	<article class="page about" data-base="000" data-highlight="fff">

		<p>Hello, I'm not really sure of who I am, but I once wrote this bio:</p>
		<p>"Michael Hemingway is a photographer and multimedia artist living in Montreal. His photojournalistic work concerns itself mostly with the action of the pamplona fiesta, and concert photography at home. He is taking his undergraduate in Computation Arts at Concordia University, fusing photography with video, programming, music and interactive art. Michael started <a href="https://arthem.co">Arthem Co.</a> in college, a small web design business that he still operates today, with a particular focus on the experimental and new."</p>

		<p><a href="this-site">This site</a>, like my<a href="https://photo.michaelhemingway.com"> photography one</a> before it, exists as a repository for my recent work. What that entails is an uneven mix of games, traditional graphic design, video, code and audio work.</p>
		<p>	░ <a href="https://www.linkedin.com/in/michaelhemingway/">LinkedIn</a> ░ <a href="https://twitter.com/stockhuman">Twitter</a> ░ <a href="https://github.com/stockhuman/">Github</a></p>
	</article>

</main>
