<main id="content" class="page contact">
	<header class="cover">
			☍
	</header>
	<article class="page contact" data-base="darkblue" data-highlight="#ffffff">
		<p>Hello!</p>
		<div id="reveal">
			<label for="volume">Slide all the way to contact</label>
			<input type="range" id="start" name="volume" min="0" max="10" step="any" value='0'>
		</div>
	</article>

</main>

<script>
	function reveal () {
		let r = document.getElementById('reveal')
		r.classList = 'revealing'
		setTimeout(() => {
			r.innerHTML = `<a href="mailto:${'mpghemingway'}@gmail.com">Email me</a>`
			r.classList = 'revealed'
		}, 700);
	}
	document.addEventListener('DOMContentLoaded', () => {
		let s = document.getElementById('start')
		s.addEventListener('change', event => {
			if (event.explicitOriginalTarget.value === event.explicitOriginalTarget.max) {
				console.log('hey there, human')
				reveal()
			}
		})
	})
</script>
<style>
	#reveal {
		transition: opacity .3s ease;
		text-align: center;
	}
	.revealing {
		opacity: 0;
	}
	.revealed {
		opacity: 1;
	}
</style>
