<main id="content" class="home" id="home">
	<section class="header">
		<h1>Michael Hemingway</h1>
		<p><span class="desc" id="phrase">...</span> ░ <a href="https://twitter.com/StockHuman">@stockhuman</a></p>
	</section>

	<article class="page">
		<p>Make yourself at home. I made this <a href="this-site">site</a> for you. Find in it my <a href="projects/">works</a>, some collected <a href="collection/">things of mine</a>, and <a href="captcha">other</a> <a href="gamegen">stranger</a> <a href="life">stuff</a>.</p>
		<p>- Mike</p>
	</article>
	<section class="grid">
		<a href="projects/jars" class="home-item" style="background:#00AEEF">
			<img src="assets/img/work/jars/dither-readme.png.png" alt="jars dithered">
			<div class="overlay">
				<h2>Jars</h2>
				<p>A personal timekeeper</p>
			</div>
		</a>
		<a href="projects/heraldry" class="home-item" style="background:#00AEEF">
			<img src="assets/img/work/jars/dither-readme.png.png" alt="jars dithered">
			<div class="overlay">
				<h2>Heraldry</h2>
				<p>A personal timekeeper</p>
			</div>
		</a>		<a href="projects/jars" class="home-item" style="background:#00AEEF">
			<img src="assets/img/work/jars/dither-readme.png.png" alt="jars dithered">
			<div class="overlay">
				<h2>Jars</h2>
				<p>A personal timekeeper</p>
			</div>
		</a>		<a href="projects/jars" class="home-item" style="background:#00AEEF">
			<img src="assets/img/work/jars/dither-readme.png.png" alt="jars dithered">
			<div class="overlay">
				<h2>Jars</h2>
				<p>A personal timekeeper</p>
			</div>
		</a>

	</section>

	<section class="stats" data-project="*">
		<p>No logs</p>
		<noscript>This section fetches logs remotely</noscript>
	</section>
	<script>
		(function () {
			const phrases = [
				'not an AI',
				'likes dogs',
				'just woke up',
				'still plays with lego',
				'knows arrow functions!',
				'more than an emoji',
				'just sipped on some coffee',
				'ran with the bulls',
				'habla Castellano',
				'compiles to markdown'
			]
			let phrase = phrases[Math.floor(Math.random() * phrases.length)]
			document.getElementById('phrase').innerHTML = '... ' + phrase;
		}())
	</script>
	<script src="assets/js/home.min.js"></script>
</main>
