<main id="content" class="home" id="home">
	<section class="header">
		<h1>Michael Hemingway</h1>
		<p><span class="desc" id="phrase">...</span> ░ <span class="byline"> multidiciplinary artist ░</span> <a href="https://twitter.com/StockHuman">@stockhuman</a></p>
	</section>

	<article class="page">
		<p>Hello, I'm glad you've made it here.</p>
		<p>Make yourself at home. I made this <a href="this-site">site</a> for you. Find in it my <a href="projects/">works</a>, some collected <a href="collection/">things of mine</a>, and <a href="captcha">other</a> <a href="gamegen">stranger</a> <a href="life">stuff</a>.</p>
		<p>- Mike</p>
	</article>
	<script>
		(function () {
			const phrases = [
				'not an AI',
				'likes dogs',
				'just got up',
				'still plays with lego',
				'knows arrow functions!',
				'more than an emoji',
				'just sipped on some coffee'
			]
			let phrase = phrases[Math.floor(Math.random() * phrases.length)]
			document.getElementById('phrase').innerHTML = '... ' + phrase;
		}())
	</script>
</main>
