	<footer>
		<div class="colophon">
			<p><a href="/about">Michael Hemingway</a> © <% let d = new Date;%><%= d.getFullYear() %></p>
			<p>It's all in the nav, man.<br><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></p>
		</div>
		<p style="font-family: monospace;"><a href="https://twitter.com/StockHuman">Twitter</a> * <a href="https://www.instagram.com/fromaggio/">Instagram</a> * <a href="https://github.com/stockhuman">Github</a></p>

		<div class="footer-settings">
			<div class="tg-list-item">
				<span>dark mode</span>
				<input class="tgl tgl-light" id="tgl-dark-mode" type="checkbox"/>
				<label class="tgl-btn" for="tgl-dark-mode"></label>
			</div>
			<div class="tg-list-item">
				<span>full color</span>
				<input class="tgl tgl-light" id="tgl-full-color" type="checkbox"/>
				<label class="tgl-btn" for="tgl-full-color"></label>
			</div>
		</div>
	</footer>
