<div id="transitioner"></div>

<nav id="nav-main">
	<div id="nav-home-icon">
		<a href="/">
			<canvas id="nav-canvas">
				◠◡
			</canvas>
		</a>
	</div>
	<div id="nav-inner">
		<ul class="nav-list-container">
			<li class="nav-list-item">
				<a href="/">
					<span class="icon-home">☗</span>
					<p class="nav-link-text">Home</p>
				</a>
			</li>
			<li class="nav-list-item">
				<a href="/projects">
					<span class="icon-work">⛬</span>
					<p class="nav-link-text">Works</p>
				</a>
			</li>
			<li class="nav-list-item">
				<a href="/collection">
					<span class="icon-blog">☷</span>
					<p class="nav-link-text">Collection</p>
				</a>
			</li>
			<li class="nav-list-item">
				<a href="/about">
					<span class="icon-about">◵</span>
					<p class="nav-link-text">About</p>
				</a>
			</li>
			<li class="nav-list-item">
				<a href="/contact">
					<span class="icon-contact">☍</span>
					<p class="nav-link-text">Contact</p>
				</a>
			</li>
		</ul>
	</div>

	<div id="nav-toggle">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>

	<div id="nav-social">
		<ul class="nav-social-container">

			<li class="nav-social-link">
				<a href="https://www.facebook.com/MichaelHemingwayPhoto/">
					<i class="fa fa-facebook"></i>
				</a>
			</li>

			<li class="nav-social-link">
				<a href="https://www.instagram.com/stockhuman/">
					<i class="fa fa-instagram"></i>
				</a>
			</li>

			<li class="nav-social-link">
				<a href="https://twitter.com/stockhuman">
					<i class="fa fa-twitter"></i>
				</a>
			</li>

			<li class="nav-social-link">
				<a href="https://www.behance.net/stockhuman">
					<i class="fa fa-behance"></i>
				</a>
			</li>

			<li class="nav-social-link">
				<a href="https://soundcloud.com/stockhuman">
					<i class="fa fa-soundcloud"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>
