* {
	box-sizing: border-box;
}

// Body reset
// -------------------------
html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
	font-family: $font-sans-serif;
	@include font-size($font-size-base);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
	font-feature-settings: "liga", "kern";
	text-rendering: optimizelegibility;
	font-weight: $normal;
	color: $black;
	background: $white;
	scrollbar-base-color: black;
  touch-action: manipulation;
	&.disable-scroll {
		height: 100%;
		width: 100%;
		overflow: hidden;
		background: $brand;
	}
}

// styles the scrollbar on supported browsers (chrome & webkit-based, IE)
::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background-color: $black;
}

::-webkit-scrollbar {
  width: 4px;
  height: 1px;
  background:  $white;
}

::-moz-selection {
	background: $brand;
	color: $white;
}

::selection {
	background: $brand;
	color: $white;
}

// Main site elements
#background, #border {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	pointer-events: none;
}

#background {
	background-image: url(../images/img-noise-361x370.png);
	z-index: 0;
}

#border {
	border: solid $global-padding $black;
	z-index: map-get($z-index, 'nav')-1;
}

#main {
	background: $white;
	padding: $global-padding;
}
