// desktop layout

@include media('>tablet') {
  #nav-main {
    height: auto;
    left: $navPad;
    bottom: $navPad;
    top: $navPad;
    width: $navWidth;
  }

  #nav-inner {
    padding: 0;
    .nav-list-item {
      // in closed form
      height: $navWidth;
      width: $navWidth;
    }

    .nav-link-text {
      font-size: math.div($navIconSize, 1.8);
      align-self: center;
      opacity: 0;
    }
  }

  #nav-social {
    padding-right: $navWidth;
    margin-left: $navWidth;
    margin-right: 0;
    padding-left: 0;
    margin-bottom: 6px;
    left: 0;
  }

  // NAV TOGGLE LOGIC
  .nav-is-open {
    #nav-main {
      width: $navWidthExpanded;
      height: auto; // fixes a padding thing
    }

    #nav-home-icon {
      .nav-link-text {
        opacity: 1;
      }
    }

    #nav-inner {
      .nav-list-item {
        // in closed form
        height: auto;
        width: 50%;
        margin-left: 0;
        animation-duration: 1s;
        animation-name: slidein;
      }

      .nav-link-text {
        opacity: 1;
      }
    }

    #nav-social {
      opacity: 1;
    }
  }
}

// end base desktop++ layout
@include media('>ultrawide') {
  #nav-main {
    width: $navWidthExpanded;
  }

  #nav-home-icon {
    .nav-link-text {
      opacity: 1;
    }
  }

  #nav-social {
    visibility: visible;
    opacity: 1;
  }

  #nav-social {
    padding-right: 0;
    margin-left: 0;
  }

  #nav-inner {
    padding: $navWidth; // remove for full-width
    .nav-list-item {
      height: 20%;
      width: 50%;
      margin-left: 0;
      float: left;

      a span {
        font-size: $navIconSize * 3;
      }
      .nav-link-text {
        opacity: 1;
      }
    }
  }

  .nav-social-link {
    visibility: visible;
    opacity: 1;
  }

  #nav-toggle {
    display: none;
  }
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  50% {
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
  }
}
