#nav-main {
	position: fixed;
	z-index: map-get($z-index, 'nav');
	background: $nav-default-color; // change for currentColor?
	color: white;
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.15);

	transition-property: height, width, background, color;
	transition-duration: $navTimings;

	height: $navWidth;
	bottom: $navPad;
	left: $navPad;
	right: $navPad;
	@extend %radius;
}

#nav-home-icon {
	position: absolute;
	padding: $navPad;
	text-align: center;
	width: $navWidth;
	height:$navWidth;
	a {
		font-size: $navWidth / 1.5;
		width: 100%;
		height: 100%;
	}
}

#nav-social,
#nav-title {
	width: 100%;
	z-index: 2;
}

#nav-title {
	position: absolute;
	top: $navPad*2.1;
	font-weight: 200;
	left: 65px; // width of logo - parameterize
	transition: opacity .3s ease;
	opacity: 0;
}

#nav-inner {
	padding: $navWidth;
	margin: 0;
	display: table;
	height: 100%;
	width: 100%;
}

.nav-list-item,
.nav-social-link {
	list-style: none;

	a {
		text-decoration: none;

		span { // UTF8 Icon
			display: block;
			font-weight: 100;
			font-size: $navIconSize;
		}
	}
}

.nav-list-container {
	padding: 0;

	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

// individual blocks
.nav-list-item {
	transition: background 0.1s ease-in-out;
	display: flex;
	flex-direction: column;
	border-radius: $global-radius;
	&:hover {
		background: rgba(20,20,20,0.3);
	}
	a {
		display: block;
		padding: 20%;
		height: 100%;
	}
}

// social media links

#nav-social {
	z-index: 2;
	visibility: hidden;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: $navWidth;
	padding-left: $navWidth;
}

.nav-social-container {
	display: flex;
	flex-flow: row;
}

.nav-social-link {
	flex-grow: 1;
	a span {
		font-size: $navIconSize/1.2;
	}
}

// nav toggle logic in '_animation.scss'

// NAV TOGGLE LOGIC
.nav-is-open {
	#nav-main {
		height: calc(100% - (#{$navPad} * 2));
	}

	#nav-social,
	#nav-title {
		visibility: visible;
	}

	#nav-inner {
		padding: $navWidth; // remove to make full-width
	}

	.nav-list-item {
		// border: solid 1px rgba(20,20,20,0.1);
		width: 50%;
		float: left;

		a span {
			font-size: $navIconSize*3;
		}
	}

	.nav-social-link {
		visibility: visible;
		opacity: 1;
	}
}
